*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
output.json

# Gradle
.gradle
**/build/

# Android Studio
.idea/
*.iml

# Local
local.properties

# Backend
node_modules/
**/node_modules/
dist/
**/dist/
postgres_data/
**/postgres_data/
.env

